<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title>Add pass</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
  <div>
    <h1>Decrypt pass</h1>
  </div>
  <form action="#"
        th:action="@{/decrypted/{id}(id=${password.id})}"
        th:object="${password}"
        method="POST">
    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Login" readonly>
    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
    </br>
    <label for="walletPassword">Password</label>
    <input type="text" th:field="*{walletPassword}" id="walletPassword" placeholder="walletPassword" readonly>
    <span th:if="${#fields.hasErrors('walletPassword')}" th:errors="*{walletPassword}"></span>
    </br>
    <label for="userPassword">userPassword</label>
    <input type="password" id="userPassword" name="userPassword" placeholder="password" >

    </br>
    <input type="submit" value="Decrypt">

  </form>
</div>
</body>
</html>