<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>List Users</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>.hidden { -webkit-text-security: disc; /* Default */ }</style>
<body>
<div class="container text-center">
  <h3><a th:href="@{/users}">Back</a></h3>

  <div>
    <h1>List of shared Passwords</h1>
  </div>


  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Owner</th>
        <th>Login</th>
        <th>SharedTo</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Del</th>
        <th>Decrypt</th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="password, status: ${listPasswords}">
        <td th:text="${password.sharedFrom}">Owner</td>
        <td th:text="${password.login}">Login</td>
        <td th:text="${password.sharedTo}">Shared To</td>
        <td class="hidden" th:text="${password.walletPassword}">Password</td>
        <div th:if="${password.sharedFrom==user.login}">
          <td><a th:href="@{/edit/{id}(id=${password.id})}">Edit</a></td>
          <td><a th:href="@{/delete/{id}(id=${password.id})}">Delete</a></td>

        </div>
        <!-- ELSE -->
        <div th:unless="${password.sharedFrom==user.login}">
          <td>Edit</a></td>
          <td>Delete</a></td>

        </div>
        <td><a th:href="@{/decrypt/{id}(id=${password.id})}">Decrypt</a></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>


