<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>List Users</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>.hidden { -webkit-text-security: disc; /* Default */ }
table {
  width: 100%;

}


</style>

<body>
<div class="container ">
  <div class="form-row">
  <div class="col-4 text-center">
    <form th:action="@{/logout}" method="post">
      <button type="submit" name="submit" value="submit" class="btn btn-primary btn-lg active btn-block">Logout</button>
    </form>
    </div>
    </br>
    <div class="col-4 text-center">
    <form th:action="@{/change_password}" >
      <button type="submit" name="submit" value="submit" class="btn btn-primary btn-lg active btn-block">Change password</button>
    </form>
    </div>
    </br>
    <div class="col-4 text-center">
    <form th:action="@{/new}">
      <button type="submit" name="submit" value="submit" class="btn btn-secondary btn-lg active btn-block">New User</button>
    </form>
    </div>
    </br>
  </div>
  </div>

  <div>
    <h1>List of Users</h1>
  </div>

  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Del</th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="password, status: ${listPasswords}">
        <td th:text="${password.id}">ID</td>
        <td th:text="${password.login}">Name</td>
        <td style="word-break:break-all;" th:text="${password.description}" >Description</td>
        <td th:text="${password.date}">Date</td>
        <td th:text="${password.status}">Status</td>
        <td><a th:href="@{/edit/{id}(id=${password.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${password.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>


